body { background: #853863; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 39px; display: flex; }
.block-uploader-0 { color: #2ae748; font-size: 20px; margin-bottom: 5px; }
.block-filter-1 { color: #d46ae; font-size: 20px; margin-bottom: 5px; }
.block-user-2 { color: #3057cf; font-size: 19px; margin-bottom: 5px; }
.block-cache-3 { color: #4f5401; font-size: 15px; margin-bottom: 5px; }
.block-helper-4 { color: #63b2a6; font-size: 19px; margin-bottom: 5px; }
.block-cluster-5 { color: #8c0e43; font-size: 13px; margin-bottom: 5px; }